<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Enviar correos al Oga Sabinus</title>
  </head>
  <body>
    <h1>Ingrese los datos correspondientes</h1>
    <form method="post">
      <h3>Asunto:</h3>
      <input type="text" name="asunto" required autocomplete="off"> <br> <br>

      <h3>Cuerpo:</h3>
      <textarea name="cuerpo" rows="8" cols="80" required autocomplete="off"></textarea> <br> <br>

      <button type="submit" name="button">Enviar</button>

    </form>
  </body>
</html>
